.image {
  top: 0;
  width: 100%;
  opacity: 0.7;
  filter: brightness(50%);
  z-index: -5;
  position: inherit;
}
.home {
  text-align: center;
}

.heading {
  position: absolute;
  width: 100%;
  z-index: 5;
  top: 150px;
}
.heading h1 {
  color: #44aedf;
  margin: 0;
  font-size: 80px;
  text-shadow: 2px 2px 8px #413f3f;
  animation: yourAnimation 0.5s ease-in 0s linear;
}
