.card {
  width: 200px;
  height: 300px;

  margin: 5px 10px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 20px #888888;
  cursor: pointer;
}

.modal {
  max-width: 70vw;
  margin: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;

  background-color: #f5f5f5;
  overflow-y: scroll;
  max-height: 65%;
}

.addToCartButtonDiv {
  margin-bottom: 50px;
  width: 100%;
}

.modalCloseDiv {
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50%;
  font-size: 3vw;
  padding: 0 3px;
  box-shadow: 0 0 10px #aa9c9c;
}
.modalCloseDiv:hover {
  box-shadow: 0 0 10px #4d4848;
}
