.card {
  width: 200px;
  height: 300px;

  margin: 5px 10px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 20px #888888;
  cursor: pointer;
}

.modal {
  max-width: 60vw;
  margin: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  border: 2px solid #888888;
  background-color: #f5f5f5;
  overflow-y: scroll;
  max-height: 65%;
}

@media screen and (min-width: 720px) {
  .modal {
    max-width: 40vw;
  }
}

.addToCartButtonDiv {
  margin-bottom: 50px;
  width: 100%;
}

.updateLink {
  text-decoration: none;
  color: inherit;
}
